<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users" momethod="post">
      <label for="email">Email
        <input type="text" name="user_email">
      </label>
      <label for="password">Password
        <input type="password" name="password">
      </label>
      <input type="submit" value="sign up">
    </form>
  </body>
</html>
